name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    name: Check Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install Node.js dependencies
        run: npm ci --omit optional

      - name: Check format using Prettier
        run: npm run format:check

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install Node.js dependencies
        run: npm ci

      - name: Run tests using Jest
        run: npm test

  dist:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Install Node.js dependencies
        run: npm ci --omit optional

      - name: Run `@vercel/ncc`
        run: npm run dist

      - name: Run action with `github.token`
        uses: ./

      - name: Check `git config user.*`
        run: |
          name=$(git config --global user.name)
          email=$(git config --global user.email)
          diff <(echo "$BOT_NAME <$BOT_EMAIL>") <(echo "$name <$email>")
        env:
          BOT_NAME: github-actions[bot]
          BOT_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com

  auto-merge:
    name: Auto-merge Dependabot PR
    runs-on: ubuntu-latest
    needs: [format, test, dist]
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.user.login == 'dependabot[bot]'
    permissions:
      contents: write
      pull-requests: write
    env:
      GH_TOKEN: ${{ github.token }}
      PR_URL: ${{ github.event.pull_request.html_url }}
    steps:
      - name: Fetch Dependabot PR metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2

      - name: Checkout PR code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Approve Dependabot PR
        run: |
          if [ \
            "$(gh pr status \
              --json reviewDecision \
              -q .currentBranch.reviewDecision)" \
            != "APPROVED" \
          ]; then
            gh pr review --approve "$PR_URL"
          else
            echo "PR already approved."
          fi

      - name: Enable auto-merge on Dependabot PR
        run: gh pr merge --auto --squash "$PR_URL"
